/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"); */
.reveal {
	position: relative;
	transform: translateX(-150px);
	opacity: 0;
	transition: 1s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}
