html,
body {
  font-size: 140%;
  color: #F5f5f5;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  background: linear-gradient(to left, #262a2f 0%, #090A0F 50%, #1B2735 100%);
}

.inner-cursor {
  position: fixed;
  left: 10px;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-color: #C11717;
  box-shadow: 0 0 20px #dc2727, 0 0 60px #dc2727;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  animation: color 5s infinite;
  z-index: 1000;
}
.inner-cursor.grow {
  width: 30px;
  height: 30px;
  transition: width 0.5s, height 0.5s;
}
@keyframes color {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

#background {
  pointer-events: none;
}
#background #stars {
  position: fixed;
  z-index: -1000;
}

#arrow {
  position: fixed;
  bottom: 30px;
  width: 100%;
}
#arrow img {
  display: flex;
  position: relative;
  margin: 0 auto;
}
#arrow .topArw {
  animation: topSpin linear infinite 2s;
}
#arrow .btmArw {
  animation: botSpin linear infinite 2s;
}
@keyframes topSpin {
  0% {
    transform: rotateY(0deg);
    top: 2px;
  }
  50% {
    transform: rotateY(180deg);
    top: 5px;
  }
  100% {
    transform: rotateY(0deg);
    top: 2px;
  }
}
@keyframes botSpin {
  0% {
    transform: rotateY(0deg);
    bottom: 3px;
  }
  50% {
    transform: rotateY(-180deg);
    bottom: 7px;
  }
  100% {
    transform: rotateY(0deg);
    bottom: 3px;
  }
}

.clear {
  height: 200px;
  width: 100%;
}

.active {
  background: #C11717;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

.border {
  border: #C11717 5px solid;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
}

header {
  width: 100%;
  height: 100px;
  z-index: 10;
  position: fixed;
}
header .navi {
  position: inherit;
  top: 10px;
  right: 30px;
}
header .navi ul {
  display: flex;
  list-style: none;
  font-size: 1.3rem;
}
header .navi ul li {
  width: 100px;
  height: 40px;
  text-align: center;
}
header .navi ul li a {
  margin: 0 auto;
  position: inherit;
  width: 90%;
  display: block;
  text-decoration: none;
  border-bottom: 2px solid #C11717;
  color: #F5f5f5;
  background-image: linear-gradient(#C11717 0 0);
  background-size: 200% 0.08em;
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s, background-position 0.2s 0.2s;
}
header .navi ul li a:hover {
  transition: background-size 0.2s 0.2s, background-position 0.2s;
  background-size: 200% 100%;
  background-position: 100% 100%;
}

main {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
main .ttl {
  position: relative;
  width: 30%;
  text-align: center;
  border-bottom: 3px solid #C11717;
  font-size: 1rem;
  top: 30px;
}
main .mainVis {
  height: 100vh;
}
main .mainVis #mainTxt {
  top: 20%;
  position: relative;
  width: 50%;
  height: 100%;
}
main .mainVis #mainTxt h2 {
  font-size: 3rem;
}
main .mainVis #mainTxt #svg {
  position: relative;
  top: 10px;
}
main .mainVis #mainTxt #svg,
main .mainVis #mainTxt #svg path {
  fill: none;
  stroke: #C11717;
  stroke-width: 5px;
  stroke-dasharray: 710px;
  stroke-dashoffset: 650px;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: drawStroke 3s linear forwards;
}
@keyframes drawStroke {
  100% {
    stroke-dashoffset: 0;
  }
}
main .mainVis #mainTxt p {
  font-size: 1.7rem;
}
main #aboutWrap {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  padding: 20px;
}
main #aboutWrap .aboutTtl {
  font-size: 1.2rem;
  border-bottom: #C11717 3px solid;
  width: 12%;
  text-align: center;
  margin-bottom: 20px;
}
main #aboutWrap .aboutMain {
  width: 100%;
  height: 100%;
  display: flex;
}
main #aboutWrap .aboutMain .aboutMe {
  width: 55%;
  height: 50%;
  margin: auto 10;
  position: relative;
  top: 5%;
}
main #aboutWrap .aboutMain .aboutMe p {
  font-family: "DotGothic16", sans-serif;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  font-size: 1rem;
}
main #aboutWrap .aboutMain .aboutPic {
  border: #F5f5f5 solid 3px;
  border-radius: 10px;
  width: 350px;
  height: 550px;
  background: url(../img/main.jpeg) left top/cover;
  margin: 0 auto;
}
main #profWrap {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  padding: 20px;
}
main #profWrap .profTtl {
  font-size: 1.2rem;
  border-bottom: #C11717 3px solid;
  width: 14%;
  text-align: center;
  margin-bottom: 20px;
}
main .profMain {
  font-size: 1.2rem;
}
main .profMain .classwrap {
  position: relative;
  z-index: 2;
  left: 5%;
}
main .profMain .classwrap::before {
  content: attr(data-value);
  display: block;
  width: 20px;
  height: 100%;
  position: absolute;
  left: -50px;
  margin: auto;
  text-align: end;
}
main .profMain .classwrap .classcode {
  display: block;
  width: 90%;
}
main .profMain .classwrap .classcode:hover {
  background: #1f2935;
}
main .profMain .classwrap .classcode .classbrckt {
  color: #e5c07b;
}
main .profMain .classwrap .classcode .classtype {
  color: #61afef;
  margin-left: 65px;
}
main .profMain .classwrap .classcode .classel {
  color: #C11717;
}
main .profMain .classwrap .classcode .classprod {
  color: #c678dd;
}
main .profMain .classwrap .classcode .classhead {
  color: #98c379;
  margin-left: 100px;
}
main .profMain .classwrap .classcode .classrtrn {
  color: #55c9ba;
  margin-left: 100px;
}
main .profMain .classwrap .classcode .classname {
  color: #e06c75;
}
main #worksWrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
main #worksWrap .worksttl {
  border-bottom: 3px #C11717 solid;
  width: 14%;
  text-align: center;
  margin-bottom: 20px;
}
main #worksWrap .worksmain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
}
main #worksWrap .worksmain figure {
  width: 100%;
}
main #worksWrap .worksmain figure img {
  width: 100%;
}
main #worksWrap .worksmain .work1 figure {
  background: url(../img/logo/chittle.png) center center/cover no-repeat;
  border: dashed 5px #33a864;
}
main #worksWrap .worksmain .work1 figure img {
  transition: 0.3s ease-in-out;
  opacity: 0;
  display: block;
}
main #worksWrap .worksmain .work1 figure:hover img {
  opacity: 1;
}
main #worksWrap .worksmain .work2 figure {
  background: url(../img/logo/nemu.png) center center/50% no-repeat;
  border: dashed 5px #612674;
}
main #worksWrap .worksmain .work2 figure img {
  transition: 0.3s ease-in-out;
  opacity: 0;
  display: block;
}
main #worksWrap .worksmain .work2 figure:hover img {
  opacity: 1;
}
main #worksWrap .worksmain .work3 figure {
  background: url(../img/logo/62resto.png) center center/cover no-repeat;
  border: dashed 5px #cac5ab;
}
main #worksWrap .worksmain .work3 figure img {
  transition: 0.3s ease-in-out;
  opacity: 0;
  display: block;
}
main #worksWrap .worksmain .work3 figure:hover img {
  opacity: 1;
}
main #worksWrap .worksmain .work4 figure {
  background: url(../img/logo/xco.png) center center/50% no-repeat;
  border: 5px dashed #f3f3f3;
}
main #worksWrap .worksmain .work4 figure img {
  transition: 0.3s ease-in-out;
  opacity: 0;
  display: block;
}
main #worksWrap .worksmain .work4 figure:hover img {
  opacity: 1;
}
main #worksWrap .worksmain .work5 figure {
  background: url(../img/logo/tdl.png) center center/100% no-repeat;
  border: dashed 5px skyblue;
}
main #worksWrap .worksmain .work5 figure img {
  transition: 0.3s ease-in-out;
  opacity: 0;
  display: block;
}
main #worksWrap .worksmain .work5 figure:hover img {
  opacity: 1;
}
main #cntctWrap {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  padding: 20px;
}
main #cntctWrap .cntctTtl {
  border-bottom: 3px #C11717 solid;
  width: 18%;
  text-align: center;
  margin-bottom: 20px;
}
main #cntctWrap .inputWrap {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background: #232f3a;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 0px #1f2935, inset 4px 4px 15px 0px #1f2935, 5px 5px 15px 5px #3a414a;
  box-shadow: 5px 5px 5px 0px #1f2935, inset 4px 4px 15px 0px #1f2935, 5px 5px 15px 5px #3a414a;
}
main #cntctWrap .inputWrap span {
  font-family: "DotGothic16", sans-serif;
}
main #cntctWrap .inputWrap .inputBox {
  margin: 0 auto;
  position: relative;
  width: 40%;
  height: 20%;
  font-family: "DotGothic16", sans-serif;
  top: 5%;
}
main #cntctWrap .inputWrap .inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  color: #F5f5f5;
  font-size: 0.8em;
}
main #cntctWrap .inputWrap .inputBox input:valid ~ span, main #cntctWrap .inputWrap .inputBox input:focus ~ span {
  color: #C11717;
  transform: translateX(2px) translateY(-17px);
  font-size: 0.6em;
  padding: 0 10px;
  background: none;
  letter-spacing: 0.2em;
}
main #cntctWrap .inputWrap .inputBox input:focus ~ .line {
  background-color: #C11717;
}
main #cntctWrap .inputWrap .inputBox .line {
  width: 100%;
  background-color: #f5f5f5;
  height: 2px;
  transition: 0.2s ease-in-out;
}
main #cntctWrap .inputWrap .inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.8em;
  color: #c8c8c8;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
main #cntctWrap .inputWrap .txtarea {
  width: 90%;
  height: 10%;
  margin: 0 auto;
  position: relative;
}
main #cntctWrap .inputWrap .txtarea textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  color: #F5f5f5;
  font-size: 0.8em;
  resize: none;
}
main #cntctWrap .inputWrap .txtarea textarea:valid ~ span, main #cntctWrap .inputWrap .txtarea textarea:focus ~ span {
  color: #C11717;
  transform: translateX(2px) translateY(-17px);
  font-size: 0.6em;
  padding: 0 10px;
  background: none;
  letter-spacing: 0.2em;
}
main #cntctWrap .inputWrap .txtarea textarea:focus ~ .line {
  background-color: #C11717;
}
main #cntctWrap .inputWrap .txtarea .line {
  width: 100%;
  background-color: #f5f5f5;
  height: 2px;
  transition: 0.2s ease-in-out;
}
main #cntctWrap .inputWrap .txtarea span {
  position: absolute;
  left: 5px;
  top: -10px;
  padding: 10px;
  pointer-events: none;
  font-size: 0.8em;
  color: #c8c8c8;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
