html,body {
    font-size: 140%;
    color: #F5f5f5;
    height: 100%;
    width: 100%;
}

body {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
        overflow: hidden;
}

#stars{
    position: fixed;
}

header {
    width: 100%;
    height: 100px;
    padding: 10px;

    .navi {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;

        .ttl {
            width: 30%;
            text-align: center;
            border-bottom: 3px solid #C11717;
        }

        .gblNavi {

            ul {
                display: flex;
                gap: 50px;
                list-style: none;
                font-size: 1.3rem;

                li {
                    width: 100px;
                    height: 100%;
                    text-align: center;


                    a {
                        display: block;
                        text-decoration: none;
                        color: #F5f5f5;
                        background-image: linear-gradient(#C11717 0 0);
                        background-size: 200% .08em;
                        background-position: 200% 100%;
                        background-repeat: no-repeat;
                        transition: background-size .2s, background-position .2s .2s;

                        &:hover {
                            transition: background-size .2s .2s, background-position .2s;
                            background-size: 200% 100%;
                            background-position: 100% 100%;
                        }
                    }

                }
            }
        }
    }
}


main {
    width: 100%;

    #mainTxt {
        top: 10rem;
        left: 10%;
        position: relative;
        width: 50%;
        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.7rem;
        }
    }
}