.gridColSpan2 {
  grid-column: span 2;
}

.gridRowSpan2 {
  grid-row: span 2;
  height: 100% !important;
  background: #838080 !important;
}

.testimonialGrid {
  padding-block: 2rem;
  width: min(97%, 90vw);
  display: grid;
  flex-wrap: wrap;
  margin-inline: auto;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";

  .testimonial {
    padding: 0.4rem 0.8rem;
    background: #c8c8c8;
    border-radius: 5px;
    min-height: 22rem;
    height: 100%;
    color: #fefefe;
    font-size: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    position: relative;
    .title {
      position: absolute;
      top: 0.6rem;
      left: 1rem;
      h1 {
        font-size: clamp(1.2rem, 2vw, 2.2rem);
      }
    }

    &:nth-child(1) {
      grid-area: one;
    }
    &:nth-child(2) {
      grid-area: two;
    }
    &:nth-child(3) {
      grid-area: three;
    }
    &:nth-child(4) {
      grid-area: four;
    }
    &:nth-child(5) {
      grid-area: five;
    }
  }
}

@media screen and (min-width: 33em) {
  .testimonialGrid {
    grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four"
      "six six";
  }
}

@media screen and (min-width: 38em) {
  .testimonialGrid {
    grid-template-areas:
      "one one"
      "two five"
      "three five"
      "four four"
      "six six";
  }
}

@media screen and (min-width: 54em) {
  .testimonialGrid {
    grid-template-areas:
      "one one two"
      "three three four"
      "five five six";
  }
}

@media screen and (min-width: 75em) {
  .testimonialGrid {
    grid-template-areas:
      "one one two five"
      "three three four five"
      "three three six five";
  }
}

.skillWrapper {
  width: 100%;
  .skillContent {
    margin: 0 auto;
    width: min(90%, 90vw);
    padding: 1rem;
    font-size: clamp(1.8rem, 2vw, 4rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .skill {
      border: solid 2px #fefefe;
      padding: 2rem;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        transition: 150ms ease-in-out;
        display: inline-block;
        width: 100%;
        height: 100%;
        fill: #fefefe;
        margin: 0 auto;
      }
      &:hover {
        border: solid 2px #333;
        background: #dedede;
        svg {
          fill: #333;
        }
      }
    }
  }
}
