.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;

  .modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
    overflow: hidden;
  }

  .closeBtn {
    font-size: 3rem;
    position: absolute;
    top: 1.2rem;
    right: 1.4rem;
    cursor: pointer;
    transition: 150ms ease-in-out;
    i {
      color: #333;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}

.contentWrapper {
  width: min(97%, 90vw);

  .content {
    width: 40rem;
    h2 {
      font-size: clamp(1.2rem, 2vw, 1.6rem);
      border-bottom: solid 1px #333;
    }
  }
}

.modalContent {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: min(90%, 90vw);
  height: 95%;
  padding: 1rem 2rem;
  z-index: 102;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .thumbnail {
    border: solid 1px tomato;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60rem;
    height: 40rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .tags {
    // width: 100%;
    .skills {
      display: flex;
      flex-wrap: wrap;
      gap: 2.4rem;
      .tag {
        padding: 0.4rem 0.8rem;
        border-radius: 0.6rem;
        background: #eee;
        font-weight: 600;
        color: #333;
        gap: 1.2rem;
        transition: 200ms ease-in-out;
        align-items: center;
        display: flex;
        justify-content: center;
        span {
          font-size: clamp(1.4rem, 2vw, 1.8rem);
        }
        .icon {
          display: inline-block;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:hover {
          background: #333;
          color: #eee;
        }
      }
    }
  }

  .link {
    position: absolute;
    right: 1.6rem;
    bottom: 1.8rem;
    font-weight: 600;
    border: #eee 1px solid;
    border-radius: 0.6rem;
    padding: 0.2rem 0.8rem;
    transition: 200ms ease-in-out;
    overflow: hidden; /* Add this line */
    white-space: nowrap; /* Add this line */
    font-size: 2.4rem;
    text-decoration: none;
    color: #333;

    span {
      transition: 200ms ease-in-out;
      display: block;
      cursor: pointer;
    }
    &:hover {
      background: #333;
      color: #eee;
      width: auto; /* Add this line */
      span {
        display: inline-block;
        margin-right: 3rem;
      }
    }
    &::after {
      content: "→";
      position: absolute;
      right: -20px;
      transition: all 0.3s ease-in-out;
    }
    &:hover::after {
      right: 10px;
    }
  }
}

.scrollLock {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
