.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;

  .modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
  }

  .closeBtn {
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: 150ms ease-in-out;
    background: none;
    display: block;

    @media screen and (max-width: 768px) {
      top: 3rem;
      right: 3rem;
      position: fixed;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      outline: 1px solid #000;
    }
    &:hover {
      opacity: 0.6;
    }
  }

  .modalContent {
    background-color: #fefefe;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: min(90%, 90vw);
    height: 95%;
    padding: 1rem 2rem;
    z-index: 102;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .header {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      border-bottom: #333 1px solid;
      padding-bottom: 1rem;

      h1 {
        font-size: clamp(2.4rem, 2vw, 3rem);
      }

      .content {
        h2 {
          font-size: clamp(1.6rem, 2vw, 2rem);
        }
        p {
          font-size: clamp(1.4rem, 2vw, 1.6rem);
        }
      }
    }

    .visual {
      width: 100%;
      min-height: auto;
      position: relative;
      display: grid;
      gap: 2rem;
      grid-template-columns: 7fr 3fr;
      border-bottom: #333 1px solid;
      align-items: center;
      padding: 2rem 0;

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
      }

      .thumbnail {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        margin: 0 auto;
        min-height: 58rem;
        height: 100%;
        width: 100%;

        @media screen and (max-width: 768px) {
          width: 100%;
          min-height: 21.4vh;
          height: auto;
        }

        .awards {
          width: 14rem;
          height: 18rem;
          position: absolute;
          top: -0.1rem;
          left: 7rem;
          background-image: url("/award.svg");
          background-repeat: no-repeat;
          background-size: contain;
          z-index: 1;

          @media screen and (max-width: 768px) {
            width: 8rem;
            height: 10rem;
            top: -0.4rem;
            left: 0;
            left: auto;
          }
        }
      }

      .details {
        gap: 0.2rem 6rem;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
          gap: 0.2rem 4rem;
        }

        .content {
          width: auto;
          padding-bottom: 1rem;

          h2 {
            font-size: clamp(1.4rem, 2vw, 1.6rem);
            padding-bottom: 0.4rem;
          }

          a {
            border: 1px solid #333;
            width: fit-content;
            border-radius: 5px;
            display: block;
            transition: 200ms ease-in-out;

            &:hover {
              background: #333;
              color: #f3f3f3;
            }
          }

          p,
          a {
            padding: 0.2rem 1rem;
            color: #000;
            font-size: clamp(1.4rem, 2vw, 1.8rem);
            font-weight: 400;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;

  .tag {
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    font-weight: 600;
    color: #333;
    border: 1px solid #333;
    gap: 1.2rem;
    transition: 150ms ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;

    span {
      font-size: clamp(1.2rem, 2vw, 1.6rem);
    }

    .icon {
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background: #333;
      color: #eee;
    }
  }
}

.information {
  .content {
    padding: 1.2rem 0;

    &:nth-child(2),
    &:nth-child(1) {
      border-bottom: 1px solid #77777770;
    }

    h2 {
      font-size: clamp(1.6rem, 2vw, 2rem);
    }
    p {
      padding: 0.8rem 0;
      font-size: clamp(1.4rem, 2vw, 1.6rem);
    }
  }
}
