.navbar {
  background: #fff;
  margin: 0.6rem 0.8rem;
  padding: 0.1rem 0.2rem;
  border-radius: 8px;
  gap: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: solid 0.2px rgba(0, 0, 0, 0.2);

  .box {
    margin: 0.2rem 0.1rem;
    transition: 200ms ease-in-out;
    padding: 0.1rem 0.5rem;
    border-radius: 6px;
    text-align: center;
    color: rgb(146, 146, 146);

    &:hover {
      background: #e8e8e8;
      color: #6b6b6b;
    }
  }

  .active {
    background: #e0e0e0;
    color: #2d2d2d;
  }
}

.wrapper {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;

  .content {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: #696969;
  transform-origin: 0%;
  z-index: 1000;
}
